*.bbl
*.acn
*.aux
*.fdb_latexmk
*.fls
*.glo
*.idx
*.ilg
*.ind
*.ist
*.log
*.out
*.acr
*.alg
*.bcf
*.glg
*.gls
*.upa
*.synctex.gz
*.synctex(busy)
*.toc
*.DS_Store
.vscode
*-SAVE-ERROR
*.blg
*.xml
geom_autistic_intro.pdf
